In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
pos_data = pd.read_csv("data/processedPositive.csv")
neu_data = pd.read_csv("data/processedNeutral.csv")
neg_data = pd.read_csv("data/processedNegative.csv")

In [19]:
def create_labeled_df(text_df: pd.DataFrame, label: int):
    df = pd.DataFrame()
    df["text"] = text_df.columns
    df["sentiment"] = label
    df = df[df.text.str.len() > 1]
    return df

In [20]:
neg = create_labeled_df(neg_data, 0)
neu = create_labeled_df(neu_data, 1)
pos = create_labeled_df(pos_data, 2)

In [21]:
print("Negative count: ", len(neg))
print("Neutral count: ", len(neu))
print("Positive count: ", len(pos))

Negative count:  1117
Neutral count:  1569
Positive count:  1186

To have balanced classes, we can undersample positive and neutral classes for 1117 samples of each

In [22]:
neu = neu.sample(n=1117).reset_index(drop=True)
pos = pos.sample(n=1117).reset_index(drop=True)

In [23]:
test_set = pd.concat([neg, neu, pos], axis=0).reset_index(drop=True)
test_set.to_csv("data/test_set.csv", index=False)
test_set

                                                   text  sentiment
0                 How unhappy  some dogs like it though          0
1     talking to my over driver about where I'm goin...          0
2     Does anybody know if the Rand's likely to fall...          0
3            I miss going to gigs in Liverpool unhappy           0
4         There isnt a new Riverdale tonight ? unhappy           0
...                                                 ...        ...
3346                         Haha thanks fansnim! happy          2
3347  Annapurna studios production no.29 on floors t...          2
3348  I don't think you'd understand how much a stre...          2
3349                                               Well          2
3350                      Worship me and spoil me happy          2

[3351 rows x 2 columns]

In [15]:
neu2 = neu[neu.text.str.len() > 1]
neu2[neu2.text.str.len() < 4]
# neg[neg.text.str.len() < 4]
# pos[pos.text.str.len() < 4]

     text  sentiment
500    No          1
516   BMC          1
825    .1          1
974   100          1
1045   UP          1